<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Outage Management Prototype</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js" defer></script>

</head>
<style>
  * {
    box-sizing: border-box;
  }

  body {
    padding: 1rem;
    background-color: #222;
    color: #ddd;
    font-family: Arial, Helvetica, sans-serif;
  }

  .client-outage-header {
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: solid 1px #666;
  }

  .client-outage-header__top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.3rem;
  }

  .client-outage-header__icon {
    width: 6rem;
  }

  .client-outage-header__name {
    flex-grow: 1;
    margin: 0 0 0 1rem;
  }

  .client-outage-actions__message {
    width: 100%;
    height: 6rem
  }

  .client-outage-actions__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
  }

  .client-outage-header__time {
    margin: 0.3rem 0;
  }

  a {
    color: #00c0ff
  }
</style>

<body>
  <div class="client-outage-header">
    <div class="client-outage-header__top-row">
      <img src="{{iconSrc}}" class="client-outage-header__icon" />
      <h1 class="client-outage-header__name">{{clientName}}</h1>
    </div>
    {{#each summaryRows}}
    <div class="client-outage-header__time">{{this}}</div>
    {{/each}}
  </div>

  <div class="client-outage-actions">
    <textarea class="client-outage-actions__message">{{copyableMessage}}</textarea>
    {{#if callDisabled}}
    <div>⚠️ No phone number for {{clientName}}</div>
    {{/if}}
    <div class="client-outage-actions__buttons">
      <a href="{{callUri}}"><button {{callDisabled}}>Call</button></a>
      <a href="{{smsUri}}"><button {{callDisabled}}>Copy to SMS</button></a>
      <a><button>Copy and open FB</button></a>
    </div>
  </div>
  <a href='{{unmsLink}}' target="_blank">Open in UNMS</a>

</body>

</html>